
<div class="profile">
    <section id="wrapper">
        <header id="header">
          <div id="background"></div>
            <a href='{{ .Site.BaseURL }}about'>
                <!-- <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.jpg"/> -->
            </a>
            <h1>FROM RUSSIA WITH L♥VE</h1>
            <!-- <h2>Hi, I'm Bianca</h2> -->
            <h3>Join me as I make grammatical errors and attempt to broaden your worldly perspective</h3>
        </header>
    </section>
</div>
